---
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostCardList";
import LeftNavBar from "../components/LeftNavBar";
import type { User } from "@/types/user";
export const prerender = false;

const loggedUserId = Astro.cookies.get("loggedUser")?.value;
if (!loggedUserId) return Astro.redirect("/login");

const { origin } = Astro.url;
const user = await fetch(`${origin}/api/users?id=${loggedUserId}`).then(
  (res): Promise<User> => res.json()
);

const friends = await Promise.all(
  user.friends.map(
    async (id) =>
      await fetch(`${origin}/api/users?id=${id}`).then(
        (res): Promise<User> => res.json()
      )
  )
);

const posts = await fetch(`${origin}/api/posts`).then((res) => res.json());
---

<Layout title="Facebook">
  <div class="flex place-content-center p-4">
    <div class="w-1/5">
      <LeftNavBar user={user} />
    </div>
    <main class="flex place-content-center w-3/5">
      <div class="w-2/3">
        <PostList client:load user={user} posts={posts} />
      </div>
    </main>
    <div class="w-1/6">
      <div class="sticky top-20">
        <p class="font-medium text-lg text-gray-500">Contactos</p>
        {friends.map((friend) => (
          <a
            href={`/profile?id=${friend.id}`}
            class="flex p-2 rounded-md hover:bg-gray-200 gap-2"
          >
            <img
              src={friend.image}
              alt="User profile image"
              class="w-9 h-9 rounded-full object-cover"
            />
            <p class="font-medium self-center">{friend.name}</p>
          </a>
        ))}
      </div>
    </div>
  </div>
</Layout>
